body{
    background:url("./bg1.jpg");
    font-family: arial ,'Times New Roman', Times, serif;
    /* background-color: #ff2987; */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   
    
}
.logindiv{
    background-color: rgba(255,255,255,1);
    width: 250px;
    margin:250px auto;
    padding: 10px 30px 20px;
    border-radius: 8px;
}
.logindiv h3{
    text-align: center;
    font-weight: bold;
    max-height: 800px;
}
.logingdiv .txtlabel{
    display: block;
    padding: 3px;
    font-size: 14px;
}
.logindiv .ipt input{
    padding: 3px 3px 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    border:none;
    margin: 5px 0px;
}
.logindiv .forgetpass{
    text-align: right;
    font-size: 10px;
    margin:3px;
}
.btn{
    display: block;
    width: 100%;
    font-size: 14px;
    margin:10px 0px;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #ff2987;
    border-radius: 12px;
}
.logindiv button{
    background-color: #ff2c94;
    border:none;
    font-family: Arial, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;

}
.btn:hover{
    opacity: 0.7;

}
.others{
    color:gray;
    font-size: 12px;
    text-align: center;
    margin:35px 0px;
}
img{
    display: inline;

}
.insta{
    width: 23px;

}
.google{
    width: 23px;

}
.twitter{
    width: 23px;
}
.facebook{
    width: 29px;
}
input:hover{
    background-color: aliceblue;
}
.forgetpass a{
    text-decoration: none;
}
.forgetpass:hover{
    text-decoration: underline;
}
.socialmedia-login:hover{
    cursor: pointer;
}
.placeicon{
    font-family:verdana;
}